openapi: 3.1.0

info:
  title: PRDKit API
  description: >
    PRDKit by Halu Goods — a Product Requirements Document toolkit for
    generating, compiling, and exporting blueprints from PRDL specifications
    and natural language descriptions. Manage workspaces, projects, blueprints,
    AI providers, agents, templates, cost tracking, design inspirations, and
    generation job orchestration.
  version: 1.0.0
  contact:
    name: Halu Goods
    url: https://prdkit.halugoods.com
  license:
    name: Proprietary
    url: https://prdkit.halugoods.com/license

servers:
  - url: https://api.prdkit.halugoods.com/api/v1
    description: Production server
  - url: https://staging.api.prdkit.halugoods.com/api/v1
    description: Staging server
  - url: http://localhost:8000/api/v1
    description: Local development

paths:
  # ──────────────────────────────────────────────
  #  WORKSPACES
  # ──────────────────────────────────────────────
  /workspaces:
    get:
      operationId: listWorkspaces
      summary: List all workspaces
      description: Returns a paginated list of workspaces the authenticated user has access to.
      tags: [Workspaces]
      security:
        - BearerAuth: []
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
            minimum: 1
          description: Page number
        - name: per_page
          in: query
          schema:
            type: integer
            default: 20
            maximum: 100
          description: Items per page
      responses:
        "200":
          description: List of workspaces
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WorkspaceList"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

    post:
      operationId: createWorkspace
      summary: Create a new workspace
      description: Creates a workspace with the given name and optional description.
      tags: [Workspaces]
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WorkspaceCreate"
      responses:
        "201":
          description: Workspace created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Workspace"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "422":
          $ref: "#/components/responses/ValidationError"
        "500":
          $ref: "#/components/responses/InternalError"

  /workspaces/{ws}:
    get:
      operationId: getWorkspace
      summary: Get workspace details
      description: Retrieves a single workspace by its ID or slug.
      tags: [Workspaces]
      security:
        - BearerAuth: []
      parameters:
        - name: ws
          in: path
          required: true
          schema:
            type: string
          description: Workspace ID or slug
      responses:
        "200":
          description: Workspace details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Workspace"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

    put:
      operationId: updateWorkspace
      summary: Update a workspace
      description: Updates workspace metadata such as name, description, or settings.
      tags: [Workspaces]
      security:
        - BearerAuth: []
      parameters:
        - name: ws
          in: path
          required: true
          schema:
            type: string
          description: Workspace ID or slug
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WorkspaceUpdate"
      responses:
        "200":
          description: Workspace updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Workspace"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/ValidationError"
        "500":
          $ref: "#/components/responses/InternalError"

    delete:
      operationId: deleteWorkspace
      summary: Delete a workspace
      description: Permanently deletes a workspace and all of its projects, blueprints, and data.
      tags: [Workspaces]
      security:
        - BearerAuth: []
      parameters:
        - name: ws
          in: path
          required: true
          schema:
            type: string
          description: Workspace ID or slug
      responses:
        "200":
          description: Workspace deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  # ──────────────────────────────────────────────
  #  PROJECTS
  # ──────────────────────────────────────────────
  /workspaces/{ws}/projects:
    get:
      operationId: listProjects
      summary: List projects in a workspace
      description: Returns all projects nested under the specified workspace.
      tags: [Projects]
      security:
        - BearerAuth: []
      parameters:
        - name: ws
          in: path
          required: true
          schema:
            type: string
          description: Workspace ID or slug
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: per_page
          in: query
          schema:
            type: integer
            default: 20
        - name: sort
          in: query
          schema:
            type: string
            enum: [name, created_at, updated_at]
            default: created_at
          description: Sort field
        - name: order
          in: query
          schema:
            type: string
            enum: [asc, desc]
            default: desc
      responses:
        "200":
          description: List of projects
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectList"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

    post:
      operationId: createProject
      summary: Create a project
      description: Creates a new project within a workspace.
      tags: [Projects]
      security:
        - BearerAuth: []
      parameters:
        - name: ws
          in: path
          required: true
          schema:
            type: string
          description: Workspace ID or slug
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProjectCreate"
      responses:
        "201":
          description: Project created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Project"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/ValidationError"
        "500":
          $ref: "#/components/responses/InternalError"

  /workspaces/{ws}/projects/{proj}:
    get:
      operationId: getProject
      summary: Get project details
      tags: [Projects]
      security:
        - BearerAuth: []
      parameters:
        - name: ws
          in: path
          required: true
          schema:
            type: string
          description: Workspace ID or slug
        - name: proj
          in: path
          required: true
          schema:
            type: string
          description: Project ID or slug
      responses:
        "200":
          description: Project details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Project"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

    put:
      operationId: updateProject
      summary: Update a project
      tags: [Projects]
      security:
        - BearerAuth: []
      parameters:
        - name: ws
          in: path
          required: true
          schema:
            type: string
          description: Workspace ID or slug
        - name: proj
          in: path
          required: true
          schema:
            type: string
          description: Project ID or slug
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProjectUpdate"
      responses:
        "200":
          description: Project updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Project"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/ValidationError"
        "500":
          $ref: "#/components/responses/InternalError"

    delete:
      operationId: deleteProject
      summary: Delete a project
      description: Permanently deletes a project and all of its blueprints.
      tags: [Projects]
      security:
        - BearerAuth: []
      parameters:
        - name: ws
          in: path
          required: true
          schema:
            type: string
          description: Workspace ID or slug
        - name: proj
          in: path
          required: true
          schema:
            type: string
          description: Project ID or slug
      responses:
        "200":
          description: Project deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  # ──────────────────────────────────────────────
  #  BLUEPRINTS
  # ──────────────────────────────────────────────
  /workspaces/{ws}/projects/{proj}/blueprints:
    get:
      operationId: listBlueprints
      summary: List blueprints in a project
      tags: [Blueprints]
      security:
        - BearerAuth: []
      parameters:
        - name: ws
          in: path
          required: true
          schema:
            type: string
        - name: proj
          in: path
          required: true
          schema:
            type: string
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: per_page
          in: query
          schema:
            type: integer
            default: 20
      responses:
        "200":
          description: List of blueprints
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BlueprintList"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

    post:
      operationId: createBlueprint
      summary: Create a blueprint manually
      description: Creates a new blueprint by providing the blueprint data directly.
      tags: [Blueprints]
      security:
        - BearerAuth: []
      parameters:
        - name: ws
          in: path
          required: true
          schema:
            type: string
        - name: proj
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BlueprintCreate"
      responses:
        "201":
          description: Blueprint created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Blueprint"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/ValidationError"
        "500":
          $ref: "#/components/responses/InternalError"

  /workspaces/{ws}/projects/{proj}/blueprints/{bpid}:
    get:
      operationId: getBlueprint
      summary: Get blueprint details
      tags: [Blueprints]
      security:
        - BearerAuth: []
      parameters:
        - name: ws
          in: path
          required: true
          schema:
            type: string
        - name: proj
          in: path
          required: true
          schema:
            type: string
        - name: bpid
          in: path
          required: true
          schema:
            type: string
          description: Blueprint ID
      responses:
        "200":
          description: Blueprint details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Blueprint"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

    put:
      operationId: updateBlueprint
      summary: Update a blueprint
      tags: [Blueprints]
      security:
        - BearerAuth: []
      parameters:
        - name: ws
          in: path
          required: true
          schema:
            type: string
        - name: proj
          in: path
          required: true
          schema:
            type: string
        - name: bpid
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BlueprintUpdate"
      responses:
        "200":
          description: Blueprint updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Blueprint"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/ValidationError"
        "500":
          $ref: "#/components/responses/InternalError"

    delete:
      operationId: deleteBlueprint
      summary: Delete a blueprint
      tags: [Blueprints]
      security:
        - BearerAuth: []
      parameters:
        - name: ws
          in: path
          required: true
          schema:
            type: string
        - name: proj
          in: path
          required: true
          schema:
            type: string
        - name: bpid
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Blueprint deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  # ── Blueprint: Compile ──
  /workspaces/{ws}/projects/{proj}/blueprints/compile:
    post:
      operationId: compileBlueprint
      summary: Compile PRDL to blueprint
      description: Takes PRDL (Product Requirements Description Language) source and compiles it into a structured blueprint.
      tags: [Blueprints]
      security:
        - BearerAuth: []
      parameters:
        - name: ws
          in: path
          required: true
          schema:
            type: string
        - name: proj
          in: path
          required: true
          schema:
            type: string
        - name: language
          in: query
          required: false
          schema:
            type: string
            enum: [id, en]
            default: id
          description: "Output language for generated artifacts. Default: Indonesian (id). Use 'en' for English."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CompileRequest"
      responses:
        "200":
          description: Compiled blueprint
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Blueprint"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/ValidationError"
        "500":
          $ref: "#/components/responses/InternalError"

  # ── Blueprint: Generate ──
  /workspaces/{ws}/projects/{proj}/blueprints/generate:
    post:
      operationId: generateBlueprint
      summary: Generate blueprint from natural language
      description: Uses an AI provider to generate a blueprint from a natural language description.
      tags: [Blueprints]
      security:
        - BearerAuth: []
      parameters:
        - name: ws
          in: path
          required: true
          schema:
            type: string
        - name: proj
          in: path
          required: true
          schema:
            type: string
        - name: language
          in: query
          required: false
          schema:
            type: string
            enum: [id, en]
            default: id
          description: "Output language for generated artifacts. Default: Indonesian (id). Use 'en' for English."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GenerateRequest"
      responses:
        "200":
          description: Generated blueprint
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Blueprint"
        "202":
          description: Generation queued as async job
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AsyncJobResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/ValidationError"
        "500":
          $ref: "#/components/responses/InternalError"

  # ── Blueprint: Export ──
  /workspaces/{ws}/projects/{proj}/blueprints/{bpid}/export:
    get:
      operationId: exportBlueprint
      summary: Export blueprint in a specific format
      description: Exports the blueprint content in the requested format (markdown, openapi, prisma, zod, typescript, python, docker-compose, design-tokens).
      tags: [Blueprints]
      security:
        - BearerAuth: []
      parameters:
        - name: ws
          in: path
          required: true
          schema:
            type: string
        - name: proj
          in: path
          required: true
          schema:
            type: string
        - name: bpid
          in: path
          required: true
          schema:
            type: string
        - name: format
          in: query
          required: true
          schema:
            type: string
            enum:
              - markdown
              - openapi
              - prisma
              - zod
              - typescript
              - python
              - docker-compose
              - design-tokens
          description: Export format
        - name: language
          in: query
          required: false
          schema:
            type: string
            enum: [id, en]
            default: id
          description: "Output language for generated artifacts. Default: Indonesian (id). Use 'en' for English."
      responses:
        "200":
          description: Exported blueprint content
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BlueprintExport"
            text/plain:
              schema:
                type: string
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/ValidationError"
        "500":
          $ref: "#/components/responses/InternalError"

  # ──────────────────────────────────────────────
  #  ARTIFACTS (read-only, nested under blueprint)
  # ──────────────────────────────────────────────
  /workspaces/{ws}/projects/{proj}/blueprints/{bpid}/artifacts:
    get:
      operationId: listArtifacts
      summary: List artifacts for a blueprint
      description: Returns artifacts generated from a compiled blueprint (e.g., generated files, documentation stubs).
      tags: [Artifacts]
      security:
        - BearerAuth: []
      parameters:
        - name: ws
          in: path
          required: true
          schema:
            type: string
        - name: proj
          in: path
          required: true
          schema:
            type: string
        - name: bpid
          in: path
          required: true
          schema:
            type: string
        - name: type
          in: query
          schema:
            type: string
          description: Filter by artifact type
      responses:
        "200":
          description: List of artifacts
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArtifactList"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /workspaces/{ws}/projects/{proj}/blueprints/{bpid}/artifacts/{aid}:
    get:
      operationId: getArtifact
      summary: Get artifact details
      tags: [Artifacts]
      security:
        - BearerAuth: []
      parameters:
        - name: ws
          in: path
          required: true
          schema:
            type: string
        - name: proj
          in: path
          required: true
          schema:
            type: string
        - name: bpid
          in: path
          required: true
          schema:
            type: string
        - name: aid
          in: path
          required: true
          schema:
            type: string
          description: Artifact ID
      responses:
        "200":
          description: Artifact details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Artifact"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  # ──────────────────────────────────────────────
  #  PROVIDERS
  # ──────────────────────────────────────────────
  /workspaces/{ws}/providers:
    get:
      operationId: listProviders
      summary: List AI providers
      description: Returns all configured AI providers for the workspace.
      tags: [Providers]
      security:
        - BearerAuth: []
        - ApiKeyAuth: []
      parameters:
        - name: ws
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: List of providers
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProviderList"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

    post:
      operationId: createProvider
      summary: Configure an AI provider
      description: Adds a new AI provider (e.g., OpenAI, Anthropic, Ollama) with its base URL and API key.
      tags: [Providers]
      security:
        - BearerAuth: []
        - ApiKeyAuth: []
      parameters:
        - name: ws
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProviderCreate"
      responses:
        "201":
          description: Provider created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Provider"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/ValidationError"
        "500":
          $ref: "#/components/responses/InternalError"

  /workspaces/{ws}/providers/{pid}:
    get:
      operationId: getProvider
      summary: Get provider details
      tags: [Providers]
      security:
        - BearerAuth: []
        - ApiKeyAuth: []
      parameters:
        - name: ws
          in: path
          required: true
          schema:
            type: string
        - name: pid
          in: path
          required: true
          schema:
            type: string
          description: Provider ID
      responses:
        "200":
          description: Provider details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Provider"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

    put:
      operationId: updateProvider
      summary: Update provider configuration
      tags: [Providers]
      security:
        - BearerAuth: []
        - ApiKeyAuth: []
      parameters:
        - name: ws
          in: path
          required: true
          schema:
            type: string
        - name: pid
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProviderUpdate"
      responses:
        "200":
          description: Provider updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Provider"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/ValidationError"
        "500":
          $ref: "#/components/responses/InternalError"

    delete:
      operationId: deleteProvider
      summary: Delete a provider
      tags: [Providers]
      security:
        - BearerAuth: []
        - ApiKeyAuth: []
      parameters:
        - name: ws
          in: path
          required: true
          schema:
            type: string
        - name: pid
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Provider deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  # ── Provider: Discover ──
  /workspaces/{ws}/providers/discover:
    post:
      operationId: discoverProviderModels
      summary: Auto-discover models from a provider
      description: Given a base URL and API key, probes the provider endpoint and returns available model names.
      tags: [Providers]
      security:
        - BearerAuth: []
        - ApiKeyAuth: []
      parameters:
        - name: ws
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProviderDiscoverRequest"
      responses:
        "200":
          description: Discovered models
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProviderDiscoverResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  # ──────────────────────────────────────────────
  #  AGENTS
  # ──────────────────────────────────────────────
  /workspaces/{ws}/agents:
    get:
      operationId: listAgents
      summary: List AI agents
      description: Returns all configured agents in the workspace. Agents are AI personas configured with system prompts, model, and provider bindings.
      tags: [Agents]
      security:
        - BearerAuth: []
      parameters:
        - name: ws
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: List of agents
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentList"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

    post:
      operationId: createAgent
      summary: Create an AI agent
      tags: [Agents]
      security:
        - BearerAuth: []
      parameters:
        - name: ws
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AgentCreate"
      responses:
        "201":
          description: Agent created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Agent"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/ValidationError"
        "500":
          $ref: "#/components/responses/InternalError"

  /workspaces/{ws}/agents/{aid}:
    get:
      operationId: getAgent
      summary: Get agent details
      tags: [Agents]
      security:
        - BearerAuth: []
      parameters:
        - name: ws
          in: path
          required: true
          schema:
            type: string
        - name: aid
          in: path
          required: true
          schema:
            type: string
          description: Agent ID
      responses:
        "200":
          description: Agent details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Agent"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

    put:
      operationId: updateAgent
      summary: Update an agent
      tags: [Agents]
      security:
        - BearerAuth: []
      parameters:
        - name: ws
          in: path
          required: true
          schema:
            type: string
        - name: aid
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AgentUpdate"
      responses:
        "200":
          description: Agent updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Agent"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/ValidationError"
        "500":
          $ref: "#/components/responses/InternalError"

    delete:
      operationId: deleteAgent
      summary: Delete an agent
      tags: [Agents]
      security:
        - BearerAuth: []
      parameters:
        - name: ws
          in: path
          required: true
          schema:
            type: string
        - name: aid
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Agent deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  # ──────────────────────────────────────────────
  #  TEMPLATES
  # ──────────────────────────────────────────────
  /workspaces/{ws}/templates:
    get:
      operationId: listTemplates
      summary: List blueprint templates
      description: Returns available blueprint templates that can be used to bootstrap projects.
      tags: [Templates]
      security:
        - BearerAuth: []
      parameters:
        - name: ws
          in: path
          required: true
          schema:
            type: string
        - name: category
          in: query
          schema:
            type: string
          description: Filter by template category
      responses:
        "200":
          description: List of templates
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TemplateList"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

    post:
      operationId: createTemplate
      summary: Create a blueprint template
      tags: [Templates]
      security:
        - BearerAuth: []
      parameters:
        - name: ws
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TemplateCreate"
      responses:
        "201":
          description: Template created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Template"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/ValidationError"
        "500":
          $ref: "#/components/responses/InternalError"

  /workspaces/{ws}/templates/{tid}:
    get:
      operationId: getTemplate
      summary: Get template details
      tags: [Templates]
      security:
        - BearerAuth: []
      parameters:
        - name: ws
          in: path
          required: true
          schema:
            type: string
        - name: tid
          in: path
          required: true
          schema:
            type: string
          description: Template ID
      responses:
        "200":
          description: Template details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Template"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

    put:
      operationId: updateTemplate
      summary: Update a template
      tags: [Templates]
      security:
        - BearerAuth: []
      parameters:
        - name: ws
          in: path
          required: true
          schema:
            type: string
        - name: tid
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TemplateUpdate"
      responses:
        "200":
          description: Template updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Template"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/ValidationError"
        "500":
          $ref: "#/components/responses/InternalError"

    delete:
      operationId: deleteTemplate
      summary: Delete a template
      tags: [Templates]
      security:
        - BearerAuth: []
      parameters:
        - name: ws
          in: path
          required: true
          schema:
            type: string
        - name: tid
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Template deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  # ──────────────────────────────────────────────
  #  DESIGN INSPIRATIONS
  # ──────────────────────────────────────────────
  /workspaces/{ws}/inspirations:
    get:
      operationId: listInspirations
      summary: List design inspirations
      description: Returns design inspiration entries with optional filters for category, tags, and free-text search.
      tags: [Design Inspirations]
      security:
        - BearerAuth: []
      parameters:
        - name: ws
          in: path
          required: true
          schema:
            type: string
        - name: category
          in: query
          schema:
            type: string
          description: Filter by category (e.g., landing-page, dashboard, mobile)
        - name: tags
          in: query
          schema:
            type: string
          description: Comma-separated tags to filter by
        - name: search
          in: query
          schema:
            type: string
          description: Free-text search across title and description
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: per_page
          in: query
          schema:
            type: integer
            default: 20
      responses:
        "200":
          description: List of inspirations
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InspirationList"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /workspaces/{ws}/inspirations/discover:
    post:
      operationId: discoverInspiration
      summary: AI-powered design inspiration discovery
      description: Analyzes a URL using an AI provider to extract design patterns, color palettes, typography, and style metadata.
      tags: [Design Inspirations]
      security:
        - BearerAuth: []
      parameters:
        - name: ws
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InspirationDiscoverRequest"
      responses:
        "200":
          description: Discovered inspiration entry
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Inspiration"
        "202":
          description: Discovery queued as async job
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AsyncJobResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/ValidationError"
        "500":
          $ref: "#/components/responses/InternalError"

  # ──────────────────────────────────────────────
  #  GENERATION JOBS
  # ──────────────────────────────────────────────
  /workspaces/{ws}/jobs:
    get:
      operationId: listJobs
      summary: List generation jobs
      description: Returns running and completed generation jobs for the workspace.
      tags: [Jobs]
      security:
        - BearerAuth: []
      parameters:
        - name: ws
          in: path
          required: true
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
            enum: [queued, running, completed, failed, cancelled]
          description: Filter by job status
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: per_page
          in: query
          schema:
            type: integer
            default: 20
      responses:
        "200":
          description: List of jobs
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JobList"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /workspaces/{ws}/jobs/{id}:
    get:
      operationId: getJobStatus
      summary: Get job status
      description: Returns the current status, progress, and result of a generation job.
      tags: [Jobs]
      security:
        - BearerAuth: []
      parameters:
        - name: ws
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Job ID
      responses:
        "200":
          description: Job status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Job"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /workspaces/{ws}/jobs/{id}/cancel:
    post:
      operationId: cancelJob
      summary: Cancel a generation job
      description: Requests cancellation of a running or queued generation job.
      tags: [Jobs]
      security:
        - BearerAuth: []
      parameters:
        - name: ws
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Job ID
      responses:
        "200":
          description: Job cancellation requested
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Job ID
                  status:
                    type: string
                    example: cancelled
                  cancelled_at:
                    type: string
                    format: date-time
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          description: Job cannot be cancelled (already completed or failed)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          $ref: "#/components/responses/InternalError"

  # ──────────────────────────────────────────────
  #  COST TRACKING
  # ──────────────────────────────────────────────
  /workspaces/{ws}/costs:
    get:
      operationId: getAggregatedCosts
      summary: Get aggregated cost summary
      description: Returns aggregated cost data for the workspace, optionally filtered by timeframe.
      tags: [Cost Tracking]
      security:
        - BearerAuth: []
      parameters:
        - name: ws
          in: path
          required: true
          schema:
            type: string
        - name: timeframe
          in: query
          schema:
            type: string
            enum: [7d, 30d, 90d, all]
            default: 30d
          description: Aggregation timeframe
        - name: provider
          in: query
          schema:
            type: string
          description: Filter costs by provider ID
      responses:
        "200":
          description: Aggregated costs
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CostAggregate"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /workspaces/{ws}/costs/daily:
    get:
      operationId: getDailyCosts
      summary: Get daily cost breakdown
      description: Returns a day-by-day cost breakdown for the workspace.
      tags: [Cost Tracking]
      security:
        - BearerAuth: []
      parameters:
        - name: ws
          in: path
          required: true
          schema:
            type: string
        - name: from
          in: query
          schema:
            type: string
            format: date
          description: Start date (ISO 8601)
        - name: to
          in: query
          schema:
            type: string
            format: date
          description: End date (ISO 8601)
        - name: provider
          in: query
          schema:
            type: string
          description: Filter by provider ID
      responses:
        "200":
          description: Daily cost breakdown
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CostDailyBreakdown"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  # ──────────────────────────────────────────────
  #  KNOWLEDGE
  # ──────────────────────────────────────────────
  /workspaces/{ws}/knowledge:
    get:
      operationId: listKnowledgeEntries
      summary: List knowledge entries
      description: Returns knowledge-base entries for the workspace (context, reference material, documentation snippets).
      tags: [Knowledge]
      security:
        - BearerAuth: []
      parameters:
        - name: ws
          in: path
          required: true
          schema:
            type: string
        - name: search
          in: query
          schema:
            type: string
          description: Full-text search
        - name: tags
          in: query
          schema:
            type: string
          description: Comma-separated tags
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: per_page
          in: query
          schema:
            type: integer
            default: 20
      responses:
        "200":
          description: List of knowledge entries
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KnowledgeList"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

    post:
      operationId: addKnowledgeEntry
      summary: Add a knowledge entry
      description: Adds a new entry to the workspace knowledge base.
      tags: [Knowledge]
      security:
        - BearerAuth: []
      parameters:
        - name: ws
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/KnowledgeCreate"
      responses:
        "201":
          description: Knowledge entry created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KnowledgeEntry"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/ValidationError"
        "500":
          $ref: "#/components/responses/InternalError"

  # ──────────────────────────────────────────────
  #  WORKFLOW
  # ──────────────────────────────────────────────
  /workspaces/{ws}/workflow:
    get:
      operationId: getWorkflow
      summary: Get workflow nodes
      description: Returns the current workflow DAG (nodes and edges) for the workspace.
      tags: [Workflow]
      security:
        - BearerAuth: []
      parameters:
        - name: ws
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Workflow state
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Workflow"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

    post:
      operationId: saveWorkflow
      summary: Save workflow state
      description: Persists the current workflow DAG (nodes and edges) for the workspace.
      tags: [Workflow]
      security:
        - BearerAuth: []
      parameters:
        - name: ws
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WorkflowSave"
      responses:
        "200":
          description: Workflow saved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Workflow"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/ValidationError"
        "500":
          $ref: "#/components/responses/InternalError"

# ──────────────────────────────────────────────
#  COMPONENTS
# ──────────────────────────────────────────────
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: >
        Workspace-level JWT authentication. Include the token in the
        Authorization header as `Bearer <token>`. Obtain a token via
        the authentication endpoint (external to this spec).
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: >
        Service-to-service API key authentication. Include the key in the
        X-API-Key header. Used for automated and server-to-server requests.

  responses:
    BadRequest:
      description: Bad Request — the request was malformed or contains invalid parameters.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    Unauthorized:
      description: Unauthorized — missing or invalid authentication credentials.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    NotFound:
      description: Not Found — the requested resource does not exist.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    ValidationError:
      description: Validation Error — request body failed schema validation.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ValidationErrorResponse"
    InternalError:
      description: Internal Server Error — an unexpected error occurred on the server.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"

  schemas:
    # ── Shared / Utility ──
    ErrorResponse:
      type: object
      description: Standard error envelope.
      required: [error]
      properties:
        error:
          type: object
          required: [code, message]
          properties:
            code:
              type: string
              description: Machine-readable error code (e.g., `not_found`, `unauthorized`).
            message:
              type: string
              description: Human-readable error message.
            details:
              type: object
              description: Optional additional error context.

    ValidationErrorResponse:
      type: object
      description: Validation error envelope with per-field errors.
      required: [error]
      properties:
        error:
          type: object
          required: [code, message, errors]
          properties:
            code:
              type: string
              enum: [validation_error]
            message:
              type: string
            errors:
              type: array
              description: List of individual field validation errors.
              items:
                type: object
                properties:
                  field:
                    type: string
                    description: The field path that failed validation.
                  message:
                    type: string
                    description: Validation error message.
                  code:
                    type: string
                    description: Error code (e.g., `required`, `type_error`, `min_length`).

    DeleteResponse:
      type: object
      required: [deleted]
      properties:
        deleted:
          type: boolean
          description: Whether the resource was successfully deleted.
        id:
          type: string
          description: ID of the deleted resource.

    Pagination:
      type: object
      description: Pagination metadata.
      properties:
        page:
          type: integer
        per_page:
          type: integer
        total:
          type: integer
          description: Total number of items across all pages.
        total_pages:
          type: integer

    # ── Workspaces ──
    Workspace:
      type: object
      description: A workspace is the top-level organizational unit.
      required: [id, name, slug, created_at, updated_at]
      properties:
        id:
          type: string
          format: uuid
          description: Unique workspace identifier.
        name:
          type: string
          description: Human-readable workspace name.
        slug:
          type: string
          description: URL-friendly workspace slug.
        description:
          type: string
          description: Optional workspace description.
        settings:
          $ref: "#/components/schemas/WorkspaceSettings"
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    WorkspaceSettings:
      type: object
      description: Workspace-level configuration.
      properties:
        default_provider_id:
          type: string
          description: Default AI provider ID for generation tasks.
        default_agent_id:
          type: string
          description: Default agent ID for generation tasks.
        rate_limits:
          type: object
          properties:
            requests_per_minute:
              type: integer
            tokens_per_minute:
              type: integer

    WorkspaceCreate:
      type: object
      description: Payload for creating a new workspace.
      required: [name]
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 128
          description: Workspace name.
        description:
          type: string
          maxLength: 1024
          description: Optional description.
        settings:
          $ref: "#/components/schemas/WorkspaceSettings"

    WorkspaceUpdate:
      type: object
      description: Payload for updating a workspace.
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 128
        description:
          type: string
          maxLength: 1024
          nullable: true
        settings:
          $ref: "#/components/schemas/WorkspaceSettings"

    WorkspaceList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/Workspace"
        pagination:
          $ref: "#/components/schemas/Pagination"

    # ── Projects ──
    Project:
      type: object
      description: A project groups blueprints under a workspace.
      required: [id, workspace_id, name, slug, created_at, updated_at]
      properties:
        id:
          type: string
          format: uuid
        workspace_id:
          type: string
          format: uuid
        name:
          type: string
        slug:
          type: string
        description:
          type: string
        metadata:
          type: object
          additionalProperties: true
          description: Arbitrary project metadata.
        blueprint_count:
          type: integer
          description: Number of blueprints in this project.
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    ProjectCreate:
      type: object
      description: Payload for creating a project.
      required: [name]
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 128
        description:
          type: string
          maxLength: 1024
        metadata:
          type: object
          additionalProperties: true

    ProjectUpdate:
      type: object
      description: Payload for updating a project.
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 128
        description:
          type: string
          maxLength: 1024
          nullable: true
        metadata:
          type: object
          additionalProperties: true

    ProjectList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/Project"
        pagination:
          $ref: "#/components/schemas/Pagination"

    # ── Blueprints ──
    Blueprint:
      type: object
      description: >
        A blueprint is the core PRDKit output — a structured representation
        of a product requirements document with entities, attributes,
        relationships, and constraints.
      required:
        - id
        - project_id
        - workspace_id
        - name
        - version
        - status
        - created_at
        - updated_at
      properties:
        id:
          type: string
          format: uuid
        project_id:
          type: string
          format: uuid
        workspace_id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        version:
          type: integer
          description: Monotonically incrementing version number.
        status:
          type: string
          enum: [draft, compiled, published, archived]
          description: Current lifecycle status of the blueprint.
        source:
          type: string
          description: The raw PRDL source if compiled from PRDL.
        content:
          type: object
          description: >
            The parsed blueprint content. Structure varies by blueprint type
            but generally includes entities, fields, relationships, and constraints.
        tags:
          type: array
          items:
            type: string
          description: Tags for categorization.
        metadata:
          type: object
          additionalProperties: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    BlueprintCreate:
      type: object
      description: Payload for manually creating a blueprint.
      required: [name]
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 256
        description:
          type: string
          maxLength: 2048
        content:
          type: object
          description: Blueprint content (entities, fields, relationships).
        tags:
          type: array
          items:
            type: string
        metadata:
          type: object
          additionalProperties: true

    BlueprintUpdate:
      type: object
      description: Payload for updating a blueprint.
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 256
        description:
          type: string
          maxLength: 2048
          nullable: true
        content:
          type: object
        status:
          type: string
          enum: [draft, compiled, published, archived]
        tags:
          type: array
          items:
            type: string
        metadata:
          type: object
          additionalProperties: true

    BlueprintList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/Blueprint"
        pagination:
          $ref: "#/components/schemas/Pagination"

    CompileRequest:
      type: object
      description: Request to compile PRDL source into a blueprint.
      required: [source]
      properties:
        source:
          type: string
          description: Raw PRDL (Product Requirements Description Language) source code.
        name:
          type: string
          description: Optional name for the resulting blueprint. Auto-generated if omitted.
        tags:
          type: array
          items:
            type: string

    GenerateRequest:
      type: object
      description: Request to generate a blueprint from a natural language description using an AI provider.
      required: [description]
      properties:
        description:
          type: string
          minLength: 10
          maxLength: 10000
          description: Natural language description of the product requirements.
        provider_id:
          type: string
          description: >
            AI provider to use. If omitted, the workspace default provider is used.
        agent_id:
          type: string
          description: >
            Agent persona to use. If omitted, the workspace default agent is used.
        model:
          type: string
          description: Model override (e.g., `gpt-4o`, `claude-3-opus`).
        async:
          type: boolean
          default: false
          description: >
            If true, queues an async generation job and returns immediately
            with a job ID. Poll `/jobs/{id}` for status.
        tags:
          type: array
          items:
            type: string

    BlueprintExport:
      type: object
      description: Response containing the exported blueprint content.
      properties:
        format:
          type: string
          enum:
            - markdown
            - openapi
            - prisma
            - zod
            - typescript
            - python
            - docker-compose
            - design-tokens
        content:
          type: string
          description: The exported content as a string.
        filename:
          type: string
          description: Suggested filename (without extension).

    # ── Artifacts ──
    Artifact:
      type: object
      description: An artifact is a generated file or document produced from a blueprint.
      required: [id, blueprint_id, name, type, content, created_at]
      properties:
        id:
          type: string
          format: uuid
        blueprint_id:
          type: string
          format: uuid
        name:
          type: string
          description: Artifact filename or title.
        type:
          type: string
          description: Artifact type (e.g., `documentation`, `schema`, `code`, `config`).
        content:
          type: string
          description: The artifact content.
        mime_type:
          type: string
          description: MIME type of the content (e.g., `text/markdown`, `application/json`).
        metadata:
          type: object
          additionalProperties: true
        created_at:
          type: string
          format: date-time

    ArtifactList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/Artifact"
        pagination:
          $ref: "#/components/schemas/Pagination"

    # ── Providers ──
    Provider:
      type: object
      description: An AI provider configuration (e.g., OpenAI, Anthropic, Ollama, custom endpoint).
      required: [id, workspace_id, name, provider_type, base_url, created_at, updated_at]
      properties:
        id:
          type: string
          format: uuid
        workspace_id:
          type: string
          format: uuid
        name:
          type: string
          description: Human-readable name for this provider configuration.
        provider_type:
          type: string
          enum: [openai, anthropic, ollama, google, azure, custom]
          description: The provider platform.
        base_url:
          type: string
          format: uri
          description: Base URL for the provider API.
        models:
          type: array
          items:
            type: string
          description: Available model names for this provider.
        is_active:
          type: boolean
          default: true
        config:
          type: object
          description: Provider-specific configuration (e.g., org ID, project ID).
          additionalProperties: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    ProviderCreate:
      type: object
      description: Payload for configuring a new AI provider.
      required: [name, provider_type, base_url]
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 128
        provider_type:
          type: string
          enum: [openai, anthropic, ollama, google, azure, custom]
        base_url:
          type: string
          format: uri
        api_key:
          type: string
          description: >
            API key for the provider. Stored securely and never returned
            in API responses.
        models:
          type: array
          items:
            type: string
          description: >
            Optional list of models to make available. If omitted, the
            system will auto-discover models on first use.
        config:
          type: object
          additionalProperties: true
        is_active:
          type: boolean
          default: true

    ProviderUpdate:
      type: object
      description: Payload for updating a provider configuration.
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 128
        base_url:
          type: string
          format: uri
        api_key:
          type: string
          description: Update the API key.
        models:
          type: array
          items:
            type: string
        config:
          type: object
          additionalProperties: true
        is_active:
          type: boolean

    ProviderList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/Provider"

    ProviderDiscoverRequest:
      type: object
      description: Request to auto-discover models from a provider endpoint.
      required: [base_url, api_key]
      properties:
        base_url:
          type: string
          format: uri
          description: Provider API base URL (e.g., `https://api.openai.com/v1`).
        api_key:
          type: string
          description: API key for authentication to the provider.
        provider_type:
          type: string
          enum: [openai, anthropic, ollama, google, azure, custom]
          description: >
            Optional hint about the provider type. If omitted, the system
            attempts auto-detection.

    ProviderDiscoverResponse:
      type: object
      description: Response containing discovered model information.
      properties:
        provider_type:
          type: string
          description: Detected provider type.
        base_url:
          type: string
          format: uri
        models:
          type: array
          items:
            $ref: "#/components/schemas/DiscoveredModel"

    DiscoveredModel:
      type: object
      properties:
        id:
          type: string
          description: Model identifier (e.g., `gpt-4o`, `claude-3-opus-20240229`).
        name:
          type: string
          description: Human-readable model name.
        capabilities:
          type: array
          items:
            type: string
            enum: [chat, completion, embedding, image_generation, vision]
          description: Model capabilities.

    # ── Agents ──
    Agent:
      type: object
      description: >
        An agent is an AI persona with a configured system prompt, model,
        and provider binding. Agents are used for blueprint generation
        and other AI-assisted tasks.
      required: [id, workspace_id, name, provider_id, model, created_at, updated_at]
      properties:
        id:
          type: string
          format: uuid
        workspace_id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        provider_id:
          type: string
          format: uuid
          description: Bound provider configuration.
        model:
          type: string
          description: Model name for this agent.
        system_prompt:
          type: string
          description: System prompt that defines the agent's persona and behavior.
        temperature:
          type: number
          format: float
          minimum: 0
          maximum: 2
          default: 0.7
        max_tokens:
          type: integer
          minimum: 1
          maximum: 128000
        tags:
          type: array
          items:
            type: string
        is_active:
          type: boolean
          default: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    AgentCreate:
      type: object
      description: Payload for creating an agent.
      required: [name, provider_id, model]
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 128
        description:
          type: string
          maxLength: 1024
        provider_id:
          type: string
          format: uuid
        model:
          type: string
        system_prompt:
          type: string
          maxLength: 32000
        temperature:
          type: number
          format: float
          minimum: 0
          maximum: 2
        max_tokens:
          type: integer
          minimum: 1
          maximum: 128000
        tags:
          type: array
          items:
            type: string
        is_active:
          type: boolean
          default: true

    AgentUpdate:
      type: object
      description: Payload for updating an agent.
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 128
        description:
          type: string
          maxLength: 1024
          nullable: true
        provider_id:
          type: string
          format: uuid
        model:
          type: string
        system_prompt:
          type: string
          maxLength: 32000
        temperature:
          type: number
          format: float
          minimum: 0
          maximum: 2
        max_tokens:
          type: integer
          minimum: 1
          maximum: 128000
        tags:
          type: array
          items:
            type: string
        is_active:
          type: boolean

    AgentList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/Agent"
        pagination:
          $ref: "#/components/schemas/Pagination"

    # ── Templates ──
    Template:
      type: object
      description: >
        A template is a reusable blueprint scaffolding that can be used
        to bootstrap new projects with predefined structures.
      required: [id, workspace_id, name, category, content, created_at, updated_at]
      properties:
        id:
          type: string
          format: uuid
        workspace_id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        category:
          type: string
          description: Template category (e.g., `web-app`, `mobile`, `api`, `data-pipeline`).
        content:
          type: object
          description: The template blueprint structure.
        tags:
          type: array
          items:
            type: string
        is_public:
          type: boolean
          default: false
          description: Whether this template is shared across the workspace.
        source_blueprint_id:
          type: string
          format: uuid
          nullable: true
          description: If templated from an existing blueprint, its ID.
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    TemplateCreate:
      type: object
      description: Payload for creating a template.
      required: [name, category]
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 128
        description:
          type: string
          maxLength: 1024
        category:
          type: string
        content:
          type: object
          description: Blueprint structure to template.
        tags:
          type: array
          items:
            type: string
        is_public:
          type: boolean
          default: false
        source_blueprint_id:
          type: string
          format: uuid

    TemplateUpdate:
      type: object
      description: Payload for updating a template.
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 128
        description:
          type: string
          maxLength: 1024
          nullable: true
        category:
          type: string
        content:
          type: object
        tags:
          type: array
          items:
            type: string
        is_public:
          type: boolean

    TemplateList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/Template"
        pagination:
          $ref: "#/components/schemas/Pagination"

    # ── Design Inspirations ──
    Inspiration:
      type: object
      description: >
        A design inspiration entry containing design patterns, color palettes,
        typography, and style metadata discovered from real-world sources.
      required: [id, workspace_id, title, url, created_at]
      properties:
        id:
          type: string
          format: uuid
        workspace_id:
          type: string
          format: uuid
        title:
          type: string
        url:
          type: string
          format: uri
          description: Source URL.
        category:
          type: string
          description: Categorization (e.g., `landing-page`, `dashboard`, `e-commerce`).
        description:
          type: string
        tags:
          type: array
          items:
            type: string
        design_data:
          type: object
          description: Structured design metadata.
          properties:
            color_palette:
              type: array
              items:
                type: string
              description: Array of hex color codes.
            typography:
              type: object
              properties:
                fonts:
                  type: array
                  items:
                    type: string
                heading_sizes:
                  type: object
                  additionalProperties:
                    type: string
            layout:
              type: string
              description: Layout pattern description.
            component_patterns:
              type: array
              items:
                type: string
              description: Identified UI component patterns.
        screenshot_url:
          type: string
          format: uri
          description: URL to a screenshot of the source.
        created_at:
          type: string
          format: date-time

    InspirationList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/Inspiration"
        pagination:
          $ref: "#/components/schemas/Pagination"

    InspirationDiscoverRequest:
      type: object
      description: Request to discover design inspiration from a URL.
      required: [url]
      properties:
        url:
          type: string
          format: uri
          description: URL of the website or design to analyze.
        category:
          type: string
          description: Optional category hint.
        tags:
          type: array
          items:
            type: string
          description: Optional tags to attach to the discovered entry.
        async:
          type: boolean
          default: false
          description: >
            If true, queues an async discovery job and returns immediately
            with a job ID. Poll `/jobs/{id}` for status.

    # ── Jobs ──
    Job:
      type: object
      description: A generation or discovery job running in the background.
      required: [id, workspace_id, type, status, created_at, updated_at]
      properties:
        id:
          type: string
          format: uuid
        workspace_id:
          type: string
          format: uuid
        type:
          type: string
          enum: [generate_blueprint, compile_blueprint, discover_inspiration, export_blueprint]
          description: The type of job.
        status:
          type: string
          enum: [queued, running, completed, failed, cancelled]
        progress:
          type: integer
          minimum: 0
          maximum: 100
          description: Progress percentage (0-100).
        request:
          type: object
          description: Snapshot of the job input parameters.
        result:
          type: object
          nullable: true
          description: Job output (present when status is `completed`).
        error:
          type: string
          nullable: true
          description: Error message (present when status is `failed`).
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        started_at:
          type: string
          format: date-time
          nullable: true
        completed_at:
          type: string
          format: date-time
          nullable: true

    AsyncJobResponse:
      type: object
      description: Response returned when an operation is queued for async execution.
      required: [id, status, type]
      properties:
        id:
          type: string
          format: uuid
          description: Job ID for status polling.
        status:
          type: string
          enum: [queued]
        type:
          type: string
        message:
          type: string
        created_at:
          type: string
          format: date-time

    JobList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/Job"
        pagination:
          $ref: "#/components/schemas/Pagination"

    # ── Cost Tracking ──
    CostAggregate:
      type: object
      description: Aggregated cost summary for the workspace.
      properties:
        total_cost:
          type: number
          format: float
          description: Total cost in USD.
        total_requests:
          type: integer
          description: Total number of API requests.
        total_tokens:
          type: integer
          description: Total tokens consumed.
        by_provider:
          type: array
          items:
            $ref: "#/components/schemas/CostByProvider"
        timeframe:
          type: string
          example: "30d"
        currency:
          type: string
          default: USD

    CostByProvider:
      type: object
      properties:
        provider_id:
          type: string
          format: uuid
        provider_name:
          type: string
        cost:
          type: number
          format: float
        requests:
          type: integer
        tokens:
          type: integer

    CostDailyBreakdown:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/CostDailyEntry"
        summary:
          type: object
          properties:
            total_cost:
              type: number
              format: float
            total_requests:
              type: integer
            total_tokens:
              type: integer

    CostDailyEntry:
      type: object
      properties:
        date:
          type: string
          format: date
          description: Calendar date.
        cost:
          type: number
          format: float
        requests:
          type: integer
        tokens:
          type: integer
        by_provider:
          type: array
          items:
            type: object
            properties:
              provider_id:
                type: string
                format: uuid
              cost:
                type: number
                format: float
              requests:
                type: integer
              tokens:
                type: integer

    # ── Knowledge ──
    KnowledgeEntry:
      type: object
      description: A knowledge-base entry containing reference information.
      required: [id, workspace_id, title, content, created_at, updated_at]
      properties:
        id:
          type: string
          format: uuid
        workspace_id:
          type: string
          format: uuid
        title:
          type: string
        content:
          type: string
          description: The knowledge content (markdown-supported).
        tags:
          type: array
          items:
            type: string
        source:
          type: string
          description: Source attribution (e.g., URL, document name).
        metadata:
          type: object
          additionalProperties: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    KnowledgeCreate:
      type: object
      description: Payload for adding a knowledge entry.
      required: [title, content]
      properties:
        title:
          type: string
          minLength: 1
          maxLength: 256
        content:
          type: string
          minLength: 1
          maxLength: 100000
          description: Knowledge content (markdown-supported).
        tags:
          type: array
          items:
            type: string
        source:
          type: string
          maxLength: 1024
        metadata:
          type: object
          additionalProperties: true

    KnowledgeList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/KnowledgeEntry"
        pagination:
          $ref: "#/components/schemas/Pagination"

    # ── Workflow ──
    Workflow:
      type: object
      description: >
        A workflow is a directed acyclic graph (DAG) of nodes and edges
        that represents the pipeline for blueprint generation, compilation,
        and export.
      required: [workspace_id, nodes, edges]
      properties:
        workspace_id:
          type: string
          format: uuid
        nodes:
          type: array
          description: Workflow nodes (steps in the pipeline).
          items:
            $ref: "#/components/schemas/WorkflowNode"
        edges:
          type: array
          description: Connections between workflow nodes.
          items:
            $ref: "#/components/schemas/WorkflowEdge"
        metadata:
          type: object
          additionalProperties: true
        updated_at:
          type: string
          format: date-time

    WorkflowNode:
      type: object
      description: A single node in the workflow DAG.
      required: [id, type, label]
      properties:
        id:
          type: string
          description: Unique node identifier within the workspace workflow.
        type:
          type: string
          enum:
            - input
            - prompt
            - compile
            - generate
            - export
            - transform
            - review
            - condition
            - output
          description: Node type.
        label:
          type: string
          description: Display label for the node.
        config:
          type: object
          description: Node-specific configuration.
          properties:
            provider_id:
              type: string
            agent_id:
              type: string
            model:
              type: string
            system_prompt:
              type: string
            template_id:
              type: string
            export_format:
              type: string
        position:
          type: object
          description: Visual position for canvas rendering.
          properties:
            x:
              type: number
            y:
              type: number

    WorkflowEdge:
      type: object
      description: A directed edge connecting two workflow nodes.
      required: [id, source, target]
      properties:
        id:
          type: string
        source:
          type: string
          description: Source node ID.
        target:
          type: string
          description: Target node ID.
        label:
          type: string
          description: Optional edge label.
        condition:
          type: string
          description: Optional condition expression for conditional edges.

    WorkflowSave:
      type: object
      description: Payload for saving workflow state.
      required: [nodes, edges]
      properties:
        nodes:
          type: array
          items:
            $ref: "#/components/schemas/WorkflowNode"
        edges:
          type: array
          items:
            $ref: "#/components/schemas/WorkflowEdge"
        metadata:
          type: object
          additionalProperties: true
